.graveyard .heading {
    margin-top: 50px;
    text-align: center;
}

.graveyard h1 {
    color: white;
    font-family: sans-serif;
}

.graveyard  h3 {
    color: white;
}

.graveyard .container {
    width: 100%;
    height: 100vh;

}

